@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: roboto;
    box-sizing: content-box;
}

body {
    background-color: #000000;
    background-image: url('bg.jpg');
}

.recherche {
    padding: 50px 0px;
    display: flex;
    justify-content: center;
}

.creation {
    width: 800px;
    margin: auto;
    display: flex;
    flex-flow: wrap;
}

.creation > input {
    width: calc(33.33% - 50px);
    margin: 25px 15px;
}

#search {
    width: 450px;
}

#submit-search {
    margin-left: -87px;
}

input {
    color: #FFF;
    border-radius: 13px;
    background-color: #939393;
    padding: 7px 10px;
    border: none;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

input[type='submit'] {
    background-color: #E9E9E9;
    color: black;
}

.liste {
    display: flex;
    width: 1100px;
    flex-flow: wrap;
    margin: auto;
}

.liste > a:hover {
    filter: brightness(0.5);
}

.liste > a {
    width: calc(20% - 60px);
    display: block;
    margin: 30px;
    position: relative;
    color: #FFF;
    transition: 0.3s;
}

.liste > a > img {
    width: 100%;
}

.liste h2 {
    position: absolute;
    font-size: 16px;
    text-align: center;
    width: 100%;
    bottom: -30px;
}